/** HTML ELEMENTS **/
body {
  background-image: url("");
  padding: 20px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
h2 {
  text-align: center;
  margin-top: 0px;
}
img {
  width: 100%;
}

/** MAIN STYLES **/
#app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.main-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 50px;
  width: 400px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}
.img-main-wrapper {
  position: relative;
}
.img-absolute {
  position: absolute;
}
.content-row {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .main-wrapper {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body {
    padding: 0px;
  }
}

/** CHOOSE ITEMS STYLES **/
.img-thumbnail-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.img-thumbnail {
  box-sizing: border-box;
  width: 33%;
  max-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

/** CONDITIONAL CLASSES **/
.activeClass {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/** TRANSITIONS **/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/** PROGRESS BAR **/
.progress-bar {
  height: 5px;
  background-color: red;
}
